<html>
<head>

<p id="demo">
如果成功了那就神奇了 aa a  a a 
<img src="file:///D|/abc.jpg" />
</p>

// <script>
// function myfunc()
// {
// 		// x=document.getElementById("demo");
// 		// alert(x.innerHTML)
// 		//x.innerHTML="果然是这样啊";
// 		//
// 		var user_name=document.getElementsById("user_name");
// 		document.form.submit();
// 		return;
// }
// </script>
<!-- <form action="" name="form" method="post">
	<input type='text' id="user_name" name="user_name" value="">
	<button type="button" onclick="myfunc()">点击这里</button>
</form> -->

// <script type="text/javascript">
// function postData(){

// 	alert("inputs");
// 	var myForm = document.create_r_rElement("form");
// 	myForm.method = "get";
// 	alert("888")
// 	myForm.action = "";
// 	alert("222")
// 	var inputs=document.getElementsByName("post_data");
// 	alert("333")
// 	var i;
// 	for (i=0;i<inputs.length;i++) {
// 	var myInput = document.create_r_rElement("input");
// 	myInput.type = "text";
// 	myInput.name="post_data";
// 	myInput.value=inputs[i].value;
// 	myForm.a(myInput);
// 	}
// 	document.body.a(myForm);
// 	myForm.submit();
// 	document.body.removeChild(myForm);	
// }

// </script>

<form action="/build" name="form1"  method="post">
<!-- <input name="post_data" type="text"></input>
<input type="button"  value="dasdasda"></input> -->
	<p>
   <textarea type="textarea" style="width:500px;height:500px" id="code" name="code">
   </textarea>
  <!--  <input type="text" style="width:500px;height:500px" id="code" name="code" value=""> -->
   <input type="submit"  value="编译"></input>
     <textarea type="textarea" type="textarea" style="width:500px;height:500px">
</textarea>
  </p>

</form>
 <!-- <div id="sr">
  <p>
   <textarea type="textarea" style="width:111px;height:111px">
   </textarea>
   <input type="submit"  value="dasdasda"></input>
  </p>
 </div> -->
<!-- <form>
<textarea type="textarea" type="textarea" style="width:500px;height:500px">
</textarea>
</form> -->
</head>


</html>